---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";

interface Props {
	entry: CollectionEntry<"work">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
	const work = await getCollection("work");
	return work.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
	<div
		class="flex flex-row justify-between w-full bg-white left-0 text-4xl playfair py-5 mb-2"
	>
		<a href="/dizionario-dei-pis">●</a>
		<div class="flex flex-row md:gap-x-5">
			<a href={entry.data.prevLetter}>←</a>
			<a href={entry.data.nextLetter}>→</a>
		</div>
	</div>
	<div class="mx-auto mb-24 playfair">
		<div class="">
			<h1 class="text-5xl sm:text-8xl mb-3">
				{entry.data.title}
			</h1>
			<div class="text-md mt-6 md:mt-12">
				<Content class="content" />
			</div>
		</div>
	</div>

</BaseLayout>
